{% extends "core/base.html" %}
{% block title %}Change Password{% endblock title %}
{% block content %}


<div class="min-h-screen mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 my-20">

    {% if form.non_field_errors %}

        {% for error in form.non_field_errors %}

            <div class="sm:mx-auto sm:w-lg sm:max-w-3xl px-2 mt-2">
                <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                    <p class="font-bold">Error!</p>
                    <p class="block sm:inline">{{error}}</p>
                </div>
            </div>

        {% endfor %}

    {% endif %}
        

    {% include "accounts/account.html" %}

    <form class="space-y-6" method="POST">
        {% csrf_token %}

        {% for hidden_field in form.hidden_fields %}

            {{hidden_field.errors}}
            {{hidden_field}}

        {% endfor %}

        <div class="mb-4">
            <h4 class="font-semibold text-lg">Update Password</h4>
        </div>

        <div class="flex flex-wrap justify-between items-center sm:gap-x-8 gap-y-6">
            {% for field in form.visible_fields %}

            <div class="w-full sm:w-80">

                <label for="{{field.id_for_label}}" class="text-sm/6 font-medium text-gray-900 sr-only">{{field.label}}</label>

                <div>

                    <input id="{{field.id_for_label}}" name="{{field.name}}" type="{{field.widget_type}}" placeholder="{{field.label}}" required class="rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-500 focus:ring-1 focus:ring-inset focus:ring-gray-600 sm:text-sm/6 block w-full sm:w-80">

                </div>

                {% if field.errors %}
                
                    <div class="text-red-600 text-sm">

                        {% for error in field.errors %}
                        
                            <p>{{error}}</p>

                        {% endfor %}
                    </div>

                {% endif %}

            </div>
            

            {% endfor %}     

            <div>

                <button type="submit" class="rounded-md bg-gray-800 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-gray-950 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">UPDATE</button>

            </div>
        </div>

    </form>







    {% comment %} <div style="max-width: 700px; margin: 0 auto; border: 1px solid #e0e0e0; border-radius: 8px; overflow: hidden; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); background-color: #f4f4f4;">

        <div style="padding: 20px; line-height:2em">
            <p style="margin: 0; color: #1f2937; font-size:20px; margin-bottom:20px;"><strong>Hello, {{ user.username }}</strong></p>

            <p style="color: #1f2937; font-size:18px; padding-bottom:40px;">Your deposite request for <strong>${{amount}}</strong> has been successfully completed.</p>
            

            
            <p style="color: #1f2937; font-size:18px; padding-top:30px; border-top:1px solid gray;">After deposite your total balance is <strong>${{user.account.balance}}</strong></p>

            <div style="background-color: #f4f4f4; text-align: center; margin-top:50px;">
                <p style="margin: 0; color: #333; font-weight: semibold; font-size:18px;">Thanks for being with us</p>
                <p style="margin: 0; font-weight: bold; color: #333; font-size:25px; margin-top:10px;">Theta Library</p>
            </div>
            <div style="display:flex; justify-content: center; margin-top:15px;">
                <a href="http://127.0.0.1:8000/"><img src="http://127.0.0.1:8000/static/img/logo.svg" alt="Theta Library Logo" style="width: 50px; background-color:#1f2937; padding: 10px; border-radius: 50px;"></a>
            </div>

        </div>
        
    </div> {% endcomment %}




    


    
    


    

</div>
  
{% endblock content %}

