{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href=" {% static 'img/favicon.png' %} " type="image/x-icon">
    <title> {% block title %} Theta Library {% endblock title %} </title>
    <link rel="stylesheet" href=" {% static 'css/output.css' %} ">
</head>
<body>
    {% include "core/navbar.html" %}

    {% include "core/messages.html" %}

    {% block content %}
        
    {% endblock content %}

    {% include "core/footer.html" %}

    <script type="module" src=" {% static 'js/scripts.js' %} "></script>
    
</body>
</html>